body {
  background-color: grey;
}


#container {
  border: 1px solid black;
  height: 75vh;
  width: 75vh;
  margin: 0 auto;
  margin-top: 10vh;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

  